# default reviewers
*                 @greenbone/python-gvm-maintainers

# dev ops
.github/          @greenbone/devops @greenbone/python-gvm-maintainers
pyproject.toml    @greenbone/devops @greenbone/python-gvm-maintainers
poetry.lock       @greenbone/devops @greenbone/python-gvm-maintainers
