[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
paramiko = "*"
defusedxml = "*"

[dev-packages]
coverage = "*"
pylint = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
black = "==19.10b0"
autohooks-plugin-black = "*"
sphinx-autodoc-typehints = "*"
autohooks-plugin-pylint = "*"
