[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "python-gvm"
version = "21.5.3.dev1"
description = "Library to communicate with remote servers over GMP or OSP" 
license = "GPL-3.0-or-later"
authors = ["Greenbone Networks GmbH <info@greenbone.net>"]
readme = "README.md"
homepage = "https://github.com/greenbone/python-gvm"
repository = "https://github.com/greenbone/python-gvm"
documentation = "https://python-gvm.readthedocs.io/"
classifiers = [
  # Full list: https://pypi.org/pypi?%3Aaction=list_classifiers
  "Development Status :: 5 - Production/Stable",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [
  { include = "gvm" },
  { include = "tests", format = "sdist" }, 
]

[tool.poetry.dependencies]
python = "^3.7.0"
paramiko = "^2.7.1"
lxml = "^4.5.0"
defusedxml = ">=0.6,<0.8"


[tool.poetry.dev-dependencies]
coverage = "^5.5"
pylint = "^2.8"
sphinx = "^4.0.2"
sphinx-autodoc-typehints = "^1.12.0"
autohooks = "^21.3.0"
autohooks-plugin-pylint = "^1.2.0"
autohooks-plugin-black = "^1.2.0"
black = "21.5b2"
pontos = "^21.4.0"


[tool.black]
line-length = 80
target-version = ['py37', 'py38']
skip-string-normalization = true
exclude = '''
/(
    \.git
  | \.hg
  | \.venv
  | \.circleci
  | \.github
  | \.vscode
  | _build
  | build
  | dist
  | docs
)/
'''

[tool.autohooks]
mode = "poetry"
pre-commit = ['autohooks.plugins.black', 'autohooks.plugins.pylint']

[tool.pontos.version]
version-module-file = "gvm/__version__.py"
