[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "python-gvm"
version = "20.8.1.dev1"
description = "Library to communicate with remote servers over GMP or OSP" 
license = "GPL-3.0-or-later"
authors = ["Greenbone Networks GmbH <info@greenbone.net>"]
readme = "README.md"
homepage = "https://github.com/greenbone/python-gvm"
repository = "https://github.com/greenbone/python-gvm"
documentation = "https://python-gvm.readthedocs.io/"
classifiers = [
  # Full list: https://pypi.org/pypi?%3Aaction=list_classifiers
  "Development Status :: 5 - Production/Stable",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Programming Language :: Python :: 3.5",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [
  { include = "gvm" },
  { include = "tests", format = "sdist" }, 
]

[tool.poetry.dependencies]
python = "^3.5.2"
paramiko = "^2.7.1"
lxml = "^4.5.0"
defusedxml = "^0.6.0"


[tool.poetry.dev-dependencies]
coverage = "^5.2"
pylint = "^2.6.0"
sphinx = "^3.2.1"
sphinx-autodoc-typehints = "^1.11.0"
autohooks = "^2.1.0"
autohooks-plugin-pylint = "^1.2.0"
autohooks-plugin-black = {version = "^1.2.0", python = "^3.6"}
black = {version = "19.10b0", python = "^3.6"}
pontos = {version = "^0.3.0", python = "^3.7"}

[tool.black]
line-length = 80
target-version = ['py35', 'py36', 'py37', 'py38']
skip-string-normalization = true
exclude = '''
/(
    \.git
  | \.hg
  | \.venv
  | \.circleci
  | \.github
  | \.vscode
  | _build
  | build
  | dist
  | docs
)/
'''

[tool.autohooks]
mode = "poetry"
pre-commit = ['autohooks.plugins.black', 'autohooks.plugins.pylint']

[tool.pontos.version]
version-module-file = "gvm/__version__.py"
