Source: python-gvm
Section: python
Priority: optional
Maintainer: Greenbone AG <info@greenbone.net>
Uploaders: Raphael Grewe <raphael.grewe@greenbone.net>,
 Hendrik Deuper <hendrik.deuper@greenbone.net>,
 Carlos A. Parra F. <carlos.parra@greenbone.net>,
 Lukas Hannigbrinck <lukas.hannigbrinck@greenbone.net>,
Build-Depends:
  debhelper-compat (= 13),
  dh-python,
  python3-all,
  python3-setuptools,
  python3-lxml,
  python3-defusedxml,
  python3-paramiko,
  dh-python,
  python3-poetry-core,
  pybuild-plugin-pyproject (>= 5),
Standards-Version: 4.6.2

Package: python3-gvm
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Conflicts: python3-gvm-tools
Replaces: python3-gvm-tools
Description: Library for gvm-tools
 ·
 This package installs the library necessary for the gvm-tools.
 So that it can be used from inside another Python program.
